target/

# stuff related to blog
octopress-blog/*
!octopress-blog/_config.yml
!octopress-blog/sass
octopress-blog/sass/*
!octopress-blog/sass/custom
octopress-blog/sass/custom/_fonts.scss
octopress-blog/sass/custom/_styles.scss
!octopress-blog/source
octopress-blog/source/_includes/*
!octopress-blog/source/_includes/custom
octopress-blog/source/_includes/custom/*
!octopress-blog/source/_includes/custom/asides
octopress-blog/source/_layouts
octopress-blog/source/about
octopress-blog/source/assets
octopress-blog/source/blog
octopress-blog/source/images/*
!octopress-blog/source/images/bg-img.png
!octopress-blog/source/images/github.png
!octopress-blog/source/images/streak.png
!octopress-blog/source/images/twitter.png
octopress-blog/source/javascripts
octopress-blog/source/stylesheets
octopress-blog/source/atom.xml
octopress-blog/source/index.html
octopress-blog/source/robots.txt
