#bg-image {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-position: center; background-size: cover;
}

#bg-dissolve {
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

#key-space {
    position: fixed;
    top: 50%; left: 50%;
    width: 230px; height: 20px;
    margin-top: 100px; margin-left: -130px;
    font-family: 'monospace';
    background-color: black; color: white;
    border: 1px solid green; border-radius: 7px;
    transition: border 1s;
    padding: 5px;
    resize: none;
}

#key-button {
    position: fixed;
    top: 50%; left: 50%;
    height: 30px;
    margin-top: 100px; margin-left: 130px;
    background-color: black; color: white;
    border: 1px solid green; border-radius: 7px;
}

.fav-four {
    visibility: hidden;
    position: absolute;
    width: 200px;
}
